{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"3ca0e72fdfd533e411cc95dc9c91c5ec59661f95","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1487281943551}